<div id="service_mid_section" class="<%= acronym %>">
  <div class="service_mid_section_image"></div>
  <div class="service_mid_section_content">
    <%= render :partial => "shared/service_pages/#{acronym}_service_mid_section_content", :locals => {:s => s, :acromyn => acronym, :quote => quote} %>
  </div>
</div>

