<div class="column_2">
  <h2 class="title title_color">Edit Quote</h2>
  <p>
    Wrap the bold parts of a line in &#60;b&#62; tags.<br/>
    Example:<br/>
    &#60;b&#62;We have experienced positive changes&#60;/b&#62; in provider
  </p>
  <%= render :partial => 'quotes/form', :locals => {:quote => @quote} %>
</div>