.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store

public/attachments/*
public/banner_videos/*
public/swfs/*
public/downloads/*
public/avatars/*
public/student_pics/*
public/covers/*
public/banners/*
public/case_studies/*
public/brochures/*
public/videos/*
public/video_thumbs/*
public/tutorial_videos/*
public/tutorial_video_thumbs/*
public/ticket_uploads/*
public/landing_page_stylesheets/*
public/landing_page_images/*
public/ad_images/*
config/development.sphinx.conf
db/sphinx/*
db/sphinx/development/*
