<div class="sub_box_wrap">
  <div class="sub_box">
    <h3>Get A Free Trial.</h3>
    <h3 class="sub_title">Start closing the door on Fraud.</h3>
    <%= link_to(image_tag("sub_boxes/sub_box_cra.png", :alt => "HealthCare Insight Cost Reduction Analysis"), APP['free_trial_landing_page']) %>
  </div>
  <div class="sub_box">
    <h3>A Solution for All Payors.</h3>
    <h3 class="sub_title">Public, private and P&C payors.</h3>
    <%= link_to(image_tag("sub_boxes/sub_box_services.png", :alt => "HealthCare Insight Services"), services_path) %>
  </div>
  <div class="sub_box">
    <%= link_to(image_tag("sub_boxes/nucleus_sub_box_logo.png", :alt => "Nucleus Saas Solution"), nucleus_path) %>
  </div>
</div>